{% load i18n %}
{% if podcasts_url %}
  <td class="children">
    <a href="{{ podcasts_url }}" class="icon text-replace icon-arrow-right" title="{% blocktrans with title=instance.title %}View podcasts of '{{ title }}'{% endblocktrans %}">
      {{ column.label }}
    </a>
  </td>
{% else %}
  <td></td>
{% endif %}
