<div class="is-empty player" data-controller="player" data-player-autoplay-value="false" data-player-loading-class="is-loading" data-player-playing-class="is-playing" data-player-url-value unicorn:checksum="5uQeJBtA" unicorn:id="xyz" unicorn:key unicorn:name="player">
  <div class="container player__container">
    <div class="player__container player__container--controls">
      <button aria-label="Go to the previous song" class="btn" disabled type="button" unicorn:click="previous">
        <i aria-hidden="true" class="fa fa-step-backward">
      </button>
      <button aria-label="Toggle the playback" class="btn player-toggler" data-action="player#toggle" data-player-target="toggler" disabled type="button" unicorn:ignore>
        <span class="player-toggler__play">
          <i aria-hidden="true" class="fa fa-fw fa-play-circle">
          <span class="visually-hidden">Play</span>
        </span>
        <span class="player-toggler__pause">
          <i aria-hidden="true" class="fa fa-fw fa-pause-circle">
          <span class="visually-hidden">Pause</span>
        </span>
        <span class="player-toggler__loading">
          <i aria-hidden="true" class="fa fa-circle-o-notch fa-fw fa-spin">
          <span class="visually-hidden">Loading…</span>
        </span>
      </button>
      <button aria-label="Go to the next song" class="btn" disabled type="button" unicorn:click="next">
        <i aria-hidden="true" class="fa fa-step-forward">
      </button>
      <time class="player-time player-time--current" data-player-target="currentTime" unicorn:ignore>
      <div class="player-progress" unicorn:ignore>
        <input aria-label="Seek" aria-valuemax="0" aria-valuemin="0" aria-valuenow="0" autocomplete="off" class="player-progress__range" data-player-target="progressSlider" max="100" min="0" role="slider" step="0.01" type="range" value="0">
      </div>
      <time class="player-time" data-player-target="duration" unicorn:ignore>
    </div>
    <div class="player__container player__container--current">
      <div class="song-title">
        <h5 class="song__title">
        <h6 class="song__subtitle">
      </div>
      <button aria-expanded="false" aria-label="Toggle the playlist display" class="btn playlist-toggler" data-player-target="playlistToggler" id="playlistToggler" type="button" unicorn:ignore>
        <i aria-hidden="true" class="fa fa-list">
      </button>
      <nav aria-labelledby="playlistToggler" class="playlist">
    </div>
  </div>
</div>