{% load i18n wagtailadmin_tags %}
{% if objects %}
  {% if is_searching %}
    <h2 role="alert">
    {% blocktrans count counter=objects.paginator.count %}
      There is {{ counter }} match
    {% plural %}
      There are {{ counter }} matches
    {% endblocktrans %}
    </h2>
  {% else %}
    <h2>{% trans "Latest podcasts" %}</h2>
  {% endif %}

  {% component table %}

  {% include "wagtailadmin/shared/pagination_nav.html" with items=objects linkurl="wagtail_webradio:podcast_chooser_results" %}
{% elif is_searching %}
  <p role="alert">{% trans "No podcasts match this filters." %}</p>
{% else %}
  <p>{% trans "You haven't added any podcasts." %}</p>
{% endif %}
