{% load i18n wagtailadmin_tags %}
{% trans "Choose a podcast" as choose_str %}
{% include "wagtailadmin/shared/header.html" with title=choose_str tabbed=1 merged=1 icon="headphone" %}

<div class="tab-content">
  <section id="search" class="active nice-padding">
    <form class="podcast-search search-bar" action="{% url "wagtail_webradio:podcast_chooser_results" %}" method="GET" novalidate>
      <ul class="fields">
        {% for field in search_form %}
          {% include "wagtailadmin/shared/field_as_li.html" with field=field %}
        {% endfor %}
      </ul>
    </form>
    <div id="search-results" class="listing podcasts">
      {% include "wagtail_webradio/chooser/podcast_results.html" %}
    </div>
  </section>
</div>
