{% extends "wagtail_webradio/generic/form.html" %}
{% load i18n wagtailadmin_tags %}

{% block primary_action_dropdown %}
  {% if can_delete %}
    <div class="dropdown-toggle">{% icon name="arrow-up" %}</div>
    <ul>
      <li>
        <a href="{{ delete_url }}" class="button action-secondary">
          {% icon name="bin" %}{% trans "Delete" %}
        </a>
      </li>
    </ul>
  {% endif %}
{% endblock %}
